@page
<img src="images/IMG_3984.jpg" alt="Landscape" style="max-width: 100%; height: auto;">
<div style="display: flex; justify-content: space-between; margin-top: 20px;">
    <div style="flex-basis: 46%;">
        <p>Μια ωραία διήμερη διαδρομή, που συνδυάζει το Φιλανθρωπικό, Τουριστικό και το Αγωνιστικό πνεύμα.</p>
        <p>Οργανώθηκε για πρώτη φορά από τον <a href="https://www.mercedes-benz-club.org.cy/"
                target="_blank">Όμιλο Αυτοκινήτου Μερσεντές</a> και τη <a
                href="https://www.bankofcyprus.com.cy/" target="_blank">Τράπεζα Κύπρου</a> τον Απρίλιο του 2003
            για την ενίσχυση του <a href="https://www.anticancersociety.org.cy/" target="_blank">Αντικαρκινικού
                Συνδέσμου Κύπρου.</a> Τώρα οργαντωνεται κάθε χρόνο από την <a href="https://www.okak.org.cy"
                target="_blank">Ομοσπονδία Κλασικού Αυτοκινήτου Κύπρου</a>.</p>
    </div>
    <div style="flex-basis: 46%;">
        <p>A beautiful weekend drive
            incorporating the Charity, Touring and the Competitive spirit.</p>
        <p>The 48 HOUR Cyprus Rally
            was first organised by the <a href="https://www.mercedes-benz-club.org.cy/"
                target="_blank">Mercedes-Benz
                Club Cyprus</a> and the <a href="https://www.bankofcyprus.com.cy/" target="_blank">Bank
                of Cyprus</a> in April 2003 in aid
            of the <a href="https://www.anticancersociety.org.cy/" target="_blank">Cyprus
                Anticancer Society.</a> It is now organised yearly by the <a href="https://www.okak.org.cy"
                target="_blank">Cyprus Federation of Classic Vehicles</a>.</p>
    </div>
</div>
